*{
	padding: 0;
	margin: 0;
}
body,html{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
a{
	text-decoration: none;
}
section{
	width:100%;
}
.container{ 
	margin-left: 200px;
	margin-right: 200px;
}
.flex{
	display: flex;
	align-items: center;
}
.btn{
	font-weight: 600;
	font-size: 20px;
	color:#fff;
	background-image: linear-gradient(to right ,#FB944A, #FD4F30);
	padding: 16px 32px; 
	display: inline-block;
	border-radius: 100px;

}

h2{
	font-size: 65px;
	font-weight: bold;
	color:#575757 ;
	text-transform: capitalize; 
}
h3{
	font-size:35px;
	font-weight: bold;
	color: #707070;
}
h4{
	font-size: 25px;
	font-weight: 800;
}
p{
	font-weight: 400;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.half-width{
	width: 50%;
}

/* hero area */
.orange{
	color: #FB924A;
}
.hero-area p{
	margin: 30px 0;
	color: #828282;
}
.hero-img{
	text-align: right;
}

/* about area */
.about-area{
	background-image: url(images/shapes/shape.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
}
.about-area img {
    width: 57%;
    margin-left: 37px;
}
.about-text{
	text-align: left;
	margin-left: 185px;
}
.about-width{
	width: 35%;
}
.about-text p{
	margin: 48px 0;
}